<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Order list</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">Order List</h1>

            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Subject</th>
                    <th>Price</th>
                    <th>CreateDate</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="order, loop : ${orders}" class="items-center">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/order/${order.id}|}" th:text="${order.name}"></a>
                    </td>
                    <td th:text="${order.calculatePayPrice()}"></td>
                    <td th:text="${#temporals.format(order.createDate, 'yy-MM-dd HH:mm')}"></td>
                    <td>
                        <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/order/${order.id}/cancel|}"
                           class="btn btn-warning btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${order.buyer != null and #authentication.isAuthenticated()}"
                           th:text="삭제"></a>
                    </td>
                </tr>
                </tbody>

            </table>


        </div>
    </section>

</main>
</body>
</html>