<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>내 글 목록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">내 글 목록</h1>

            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>수정날짜</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="post, loop : ${posts}" class="items-center">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/post/${post.id}|}" th:text="${post.subject}"></a>
                    </td>
                    <td th:text="${post.author.username}"></td>
                    <td th:text="${#temporals.format(post.createDate, 'yy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(post.modifyDate, 'yy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>

            </table>

            <a class="btn btn-primary btn-sm" href="/product/create">상품등록</a>
        </div>
    </section>

</main>
</body>
</html>