<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>글 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">글 수정</h1>

            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="PostModify__submit(this); return false;">
                <input type="hidden" name="content"/>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50" th:value="${post.subject}">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">내용</span>
                    </label>
                    <input autofocus type="hidden" name="content" placeholder="내용"/>
                    <input type="hidden" name="contentHtml" />
                    <div id="editor" toast-ui-editor--height="calc(100vh - 300px)"></div>
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="글 수정">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                </div>
            </form>
        </div>
    </section>

    <script th:inline="javascript">
        const content = /*[[${post.content}]]*/ null;

        const Editor = toastui.Editor;

        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical'
        });

        editor.setMarkdown(content);

        let PostModify__submitDone = false;

        function PostModify__submit(form) {
            if (PostModify__submitDone) {
                return;
            }

            if (PostWrite__submitDone) {
                return;
            }

            form.subject.value = form.subject.value.trim();

            if (form.subject.value.length == 0) {
                warningModal("제목을 입력해주세요.");
                form.subject.focus();

                return;
            }

            const markdown = editor.getMarkdown();
            const html = editor.getHTML();

            form.content.value = markdown.trim();
            form.content.value = html.trim();

            if (form.content.value.length == 0) {
                warningModal("내용을 입력해주세요.");
                markdown.focus();

                return;
            }

            form.submit();
            PostModify__submitDone = true;
        }
    </script>

</main>
</body>
</html>