<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원정보수정</title>
</head>

<body>
    <section layout:fragment="main">
        <div class="section section-write container mx-auto">

            <div>
                <h1>회원정보수정</h1>



                <form th:action method="POST" class="flex flex-col gap-3" >
                    <div>
                        <span>아이디</span>
                        <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered"
                               maxlength="50" th:value="${member.username}">
                    </div>
                    <div>
                        <span>이메일</span>
                        <input autofocus type="text" name="email" placeholder="이메일" class="input input-bordered"
                               maxlength="50" th:value="${member.email}">
                    </div>
                    <div>
                        <span>닉네임</span>
                        <input autofocus type="text" name="nickname" placeholder="닉네임" class="input input-bordered"
                               maxlength="50" th:value="${member.nickname}">
                    </div>
                    <div class="grid grid-cols-2 mt-2 gap-2">
                        <input class="btn btn-primary" type="submit" value="수정">
                        <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                    </div>
                </form>

            </div>

        </div>

    </section>
</body>
</html>