<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>장바구니</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">장바구니</h1>

            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Subject</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item, loop : ${items}" class="items-center">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/item/${item.id}|}" th:text="${item.product.subject}"></a>
                    </td>
                    <td th:text="${item.product.salePrice}"></td>
                    <td>
                        <a href="javascript: document.removeCartItemsForm.submit();" class="btn btn-warning btn-outline btn-sm">삭제</a>
                        <form method="POST" name="removeCartItemsForm" th:action="@{|/cart/remove/${item.product.id}|}" hidden></form>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="javascript: document.orderCartItemsForm.submit();"  class="btn btn-primary btn-sm">주문하기</a>
            <form method="POST" name="orderCartItemsForm" th:action="@{|/order/create|}" hidden></form>

        </div>

        </div>
    </section>

</main>
</body>
</html>