<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>프로파일</title>
</head>

<body>
    <section layout:fragment="main">
        <section class="section section-write container mx-auto">

            <div class="px-2 pt-4">
                <h1 class="font-bold text-lg">회원 정보</h1>
                <div sec:authorize="hasAuthority('AUTHOR')" class="badge badge-lg badge-primary mx-1">작가 회원</div>
                <div sec:authorize="hasAuthority('ADMIN')" class="badge badge-lg badge-primary mx-1">관리자 회원</div>

                <div class="flex flex-col gap-3 mt-3">
                    <div>
                        <div class="badge badge-primary">아이디 </div>

                        <div th:text="${member.username}"></div>
                    </div>

                    <div>
                        <div class="badge badge-primary">이메일 </div>

                        <div th:text="${member.email}"></div>
                    </div>

                    <div>
                        <div class="badge badge-primary">닉네임 </div>

                        <div th:text="${member.nickname}"></div>
                    </div>
                    <div>
                        <a href="/member/modify" class="inline-flex" sec:authorize="isAuthenticated()">
                            <i class="fa-solid fa-user"></i>
                            <span class="ml-[2px] hidden sm:block">
                            정보수정
                            </span>
                        </a>
                        <a href="/cart/list" class="inline-flex" sec:authorize="isAuthenticated()">
                            <i class="fa-solid fa-upload"></i>
                            <span class="ml-[2px] hidden sm:block">
                                장바구니
                            </span>
                        </a>
                        <a class="inline-flex" href="/product/create">
                            <i class="fa-solid fa-upload"></i>
                            <span class="ml-[2px] hidden sm:block">
                                상품 등록
                            </span>
                        </a>

                    </div>
                    <div>
                        <a class="inline-flex" href="/post/list">
                            <i class="fa-solid fa-upload"></i>
                            <span class="ml-[2px] hidden sm:block">
                                내 글 목록
                            </span>
                        </a>
                        <a class="inline-flex" href="/order/list">
                            <i class="fa-solid fa-upload"></i>
                            <span class="ml-[2px] hidden sm:block">
                                주문 목록
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </section>

    </section>
</body>
</html>