<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Product list</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">Product List</h1>

            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Subject</th>
                    <th>Author</th>
                    <th>CreateDate</th>
                    <th>ModifyDate</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product, loop : ${products}" class="items-center">
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/product/${product.id}|}" th:text="${product.subject}"></a>
                    </td>
                    <td th:text="${product.author.username}"></td>
                    <td th:text="${#temporals.format(product.createDate, 'yy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(product.modifyDate, 'yy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>

            </table>

            <a class="btn btn-primary btn-sm" href="/product/create">Add</a>
        </div>
    </section>

</main>
</body>
</html>