<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>상품 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">상품 수정</h1>

            <script>
                let ProductModify__submit = false;

                function ProductModify__submit(form) {
                    if (ProductCreate__submit) {
                        return;
                    }

                    form.subject.value = form.subject.value.trim();

                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();

                        return;
                    }

                    form.price.value = form.price.value.trim();

                    if (form.price.value.length == 0) {
                        warningModal("가격을 입력해주세요.");
                        form.price.focus();

                        return;
                    }

                    form.submit();
                    ProductModify__submit = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="ProductModify__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">product name</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="name" class="input input-bordered"
                           maxlength="50" th:value="${product.subject}">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">price</span>
                    </label>
                    <input autofocus type="text" name="price" placeholder="price" class="input input-bordered"
                           maxlength="50" th:value="${product.price}">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="modify">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">cancel</button>
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>